@import '../partials/variables';

.dropdown {
    @include flex-col;
    background-color: $dark-gray;
    position: absolute;
    right: 0;
    width: max-content;
    margin: 0;
    padding: 0; 
    
    li {
        list-style-type: none;
    }

    &--settings{
        width: 100%;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s, visibility 0.5s; 
        list-style-type: none; 
        text-align: center;

        &.open{
            opacity: 1;
            visibility: visible;
        }
    }

    &--edit {
        top: 50px;
    }

    &:last-child {
        border-bottom: none;
    }

    &--sort{
        top: 0;
        right: 100%;
    }
}