@import '../partials/variables';
@import '../partials/mixins';


.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    background-color: $secondary-color;
    color: $font-color;
    padding: 1rem;
    font-size: 1.5rem;
    width: 90%;
    @include tablet {
        width: 25%;
    };

    &--folder {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20vw
    }

    &__anchor {
        text-align: center;
        margin-bottom: 5px;
        color: $accent-color;
        text-decoration: none;
        font-size: 0.9rem;
    }

    &__button{
        width: 100%;
        padding: 8px 0;
        background-color: $primary-color;
        border:none;
        border-radius: 4px;
        font-size: $font-size;
    }

    &__input{
        font-size: 1.2rem;
        padding: 5px;
        border: 1px solid transparent;
        border-radius: 4px;
        width: 100%;
        margin-bottom: 5px;
    }

    &__label{
        @include flex-col;
        margin-bottom: 10px;
        text-align: left;
    }
}

