.input {
    font-size: 1.2rem;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: $primary-color;

    &--search {
        border: none;
        font-size: 1.2rem;
        border-radius: 0;
        transition: width 1s, background-color 1s;
        width: 60%;
        background-color: #222831;
        height: 100%;
        padding: 0 5px;
    }

    &:focus-visible {
        outline: none;
        border-radius: 2px;
    }

    &:-webkit-autofill {
        background: $primary-color;
    }
}