@import './partials/variables';
@import './partials/mixins';
@import './modules/button.module.scss';
@import './modules/container.module.scss';
@import './modules/dropdown.module.scss';
@import './modules/form.module.scss';
@import './modules/input.module.scss';
@import './modules/quill.module.scss';

body {
    background-color: $background-color;
    color: $font-color;
    font-weight: weight(regular);
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    margin: 0;
}

.list {
    @include flex(row, column, center);
    padding: 0;
    margin: 0;
    li{
        list-style-type: none;
    }
}