@import './partials/variables';
@import './partials/mixins';
@import './modules/form.module.scss';

.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}