@import './partials/variables';
@import './partials/mixins';
@import './modules/button.module.scss';
@import './modules/form.module.scss';
@import './modules/input.module.scss';
@import './modules/quill.module.scss';

body {
    background-color: $background-color;
    color: $font-color;
    font-weight: weight(regular);
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    margin: 0;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #393E46;
    height: 50px;
}

.container {
    min-height: 100vh;
}

.site-wrapper {
    @include flex-col;
    height: 100vh;
    position: relative;
}

.preview-wrapper{
    margin: 5px;
    border-radius: 5px;
    height: fit-content;
    padding: 5px;    
    text-align: center;
    color: white;
    overflow: hidden;

    p {
        margin: 5px 0;
    }

    &:hover{
        background-color: lighten($background-color, 5%);
        cursor: pointer;
    }

    &:hover .note-info{
        font-weight: bold
    }
} 

.note-preview{
    background-color:  rgb(221, 221, 125);
    color: #000;
    border: 1px solid $primary-color;
    border-radius: 5px;

    p{
        max-height: 100%;
        overflow: hidden;
        width: 90%;
    }

}

.button {
    &__wrapper {
        &--left {
            position: absolute;
            left: 0;
        }
        &--right {
            position: absolute;
            right: 0;
        }
    }
}