.button, .button--form, .button--dropdown, .button--new-note, .button--transparent {
  border-radius: 4px;
  border: none;
  padding: 10px;
  font-size: 1.2rem;
}
.button:hover, .button--form:hover, .button--dropdown:hover, .button--new-note:hover, .button--transparent:hover {
  cursor: pointer;
}
.button--transparent {
  background-color: transparent;
}
.button--new-note {
  position: fixed;
  bottom: 5%;
  right: 5%;
  border-radius: 25%;
  border: 1px solid transparent;
  transition: color 0.5s, background-color 0.5s;
}
.button--new-note:hover {
  color: #06c;
  background-color: #181c22;
}
.button--dropdown {
  height: 40px;
  padding: 0px 30px;
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid #393E46;
  border-radius: 0;
}
.button--dropdown:hover {
  background-color: #37414f;
  cursor: pointer;
}
.button--form {
  background-color: #06c;
  width: 100%;
  padding: 5px;
}
.button--folder {
  background-color: #393E46;
  width: 100%;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 0;
}
.button--close {
  padding: 0;
  background-color: transparent;
}
.button.active, .active.button--transparent, .active.button--new-note, .active.button--dropdown, .active.button--form {
  font-weight: bold;
  color: #036203;
}

.form-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #393E46;
  height: 50px;
}

.container {
  min-height: 100vh;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.dropdown-wrapper {
  width: 100%;
}

.preview-wrapper {
  margin: 5px;
  border-radius: 5px;
  height: fit-content;
  padding: 5px;
  text-align: center;
  color: white;
  overflow: hidden;
}
.preview-wrapper p {
  margin: 5px 0;
}
.preview-wrapper:hover {
  background-color: #2c3440;
  cursor: pointer;
}
.preview-wrapper:hover .note-info {
  font-weight: bold;
}

.note-preview {
  background-color: rgb(221, 221, 125);
  color: #000;
  border: 1px solid #393E46;
  border-radius: 5px;
}
.note-preview p {
  max-height: 100%;
  overflow: hidden;
  width: 90%;
}

.button__wrapper--left {
  position: absolute;
  left: 0;
}
.button__wrapper--right {
  position: absolute;
  right: 0;
}
.button__wrapper--flex-end {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.settings-wrapper {
  height: 100%;
  width: 0;
  background-color: #1b1f24;
  overflow-y: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  opacity: 0;
  transition: opacity 0.5s, width 0.5s;
}
.settings-wrapper.open {
  opacity: 1;
  width: 90vw;
}
@media screen and (min-width: 1024px) {
  .settings-wrapper.open {
    width: 30vw;
  }
}
.settings-wrapper .settings-button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.folder-form-wrapper {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
}

.formInfoWrapper {
  margin-bottom: 10px;
  width: 100%;
}

.successWrapper {
  background-color: #222831;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.successNote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #242423;
  padding: 20px 10px;
}

.successIcon {
  background-color: rgba(19, 96, 20, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: column;
  align-items: center;
  background-color: #1b1f24;
  margin: 0;
  padding: 0;
}
.dropdown--settings {
  width: 100%;
  list-style-type: none;
  text-align: center;
}
.dropdown li {
  list-style-type: none;
  width: 100%;
}
.dropdown--folder {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
  text-align: center;
}
.dropdown--folder.open {
  opacity: 1;
  visibility: visible;
}
.dropdown--edit {
  position: absolute;
  right: 0;
  top: 50px;
}
.dropdown:last-child {
  border-bottom: none;
}
.dropdown--sort {
  top: 0;
  right: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  background-color: #242423;
  color: #EEEEEE;
  padding: 1rem;
  font-size: 1.5rem;
  width: 90%;
}
@media screen and (min-width: 768px) {
  .form {
    width: 25%;
  }
}
.form--folder {
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form__anchor {
  text-align: center;
  margin-bottom: 5px;
  color: #06c;
  text-decoration: none;
  font-size: 0.9rem;
}
.form__button {
  width: 100%;
  padding: 8px 0;
  background-color: #393E46;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}
.form__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  text-align: left;
  width: 100%;
}

.input {
  font-size: 1.2rem;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #393E46;
}
.input--search {
  border: none;
  font-size: 1.2rem;
  border-radius: 0;
  transition: width 1s, background-color 1s;
  width: 60%;
  background-color: #222831;
  height: 90%;
  padding: 0 5px;
}
.input--form {
  font-size: 1.2rem;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 5px;
  box-sizing: border-box;
}
.input:focus-visible {
  outline: none;
  border-radius: 2px;
}
.input:-webkit-autofill {
  background: #393E46;
}

.quill {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.quill .ql-container {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  height: 100%;
  margin: 0px;
  position: relative;
  background-color: rgb(211, 211, 75);
}
.quill .ql-editor {
  line-height: 1.42;
  height: 100%;
  outline: none;
  overflow-y: auto;
  padding: 12px 15px;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: black;
}
.quill .ql-picker-options {
  background-color: #222831;
}
@media (pointer: coarse) {
  .quill .ql-snow.ql-toolbar button:hover:not(.ql-active),
  .quill .ql-snow .ql-toolbar button:hover:not(.ql-active) {
    color: #06c;
  }
  .quill .ql-snow.ql-toolbar button:hover:not(.ql-active) .ql-fill,
  .quill .ql-snow .ql-toolbar button:hover:not(.ql-active) .ql-fill,
  .quill .ql-snow.ql-toolbar button:hover:not(.ql-active) .ql-stroke.ql-fill,
  .quill .ql-snow .ql-toolbar button:hover:not(.ql-active) .ql-stroke.ql-fill {
    fill: #06c;
  }
  .quill .ql-snow.ql-toolbar button:hover:not(.ql-active) .ql-stroke,
  .quill .ql-snow .ql-toolbar button:hover:not(.ql-active) .ql-stroke,
  .quill .ql-snow.ql-toolbar button:hover:not(.ql-active) .ql-stroke-miter,
  .quill .ql-snow .ql-toolbar button:hover:not(.ql-active) .ql-stroke-miter {
    stroke: #06c;
  }
}
.quill .ql-snow .ql-stroke {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}
.quill .ql-snow .ql-fill,
.quill .ql-snow .ql-stroke.ql-fill {
  fill: #06c;
}
.quill .ql-snow .ql-picker {
  color: #EEEEEE;
}
.quill .ql-snow a {
  color: #06c;
}
.quill .ql-container.ql-snow {
  border: 1px solid #ccc;
}

body {
  background-color: #222831;
  color: #EEEEEE;
  font-weight: weight(regular);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  margin: 0;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: column;
  align-items: center;
  padding: 0;
  margin: 0;
}
.list li {
  list-style-type: none;
}

.info {
  margin: 0;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loadingIcon {
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  visibility: hidden;
}
.loadingIcon.show {
  visibility: visible;
}

/*# sourceMappingURL=main.css.map */
